
.tableau{
	justify-content: center;
	margin-top: 5em;
	margin: auto;
	justify-content: center;
	text-align: center;
	margin-top: 15em;
	/*border-radius: 30px;
	/*border: solid black;*/
	width: min-content;
	/*background-color: brown;*/
}

.tableauNord {
	flex-direction: row-reverse;
	display: flex;
	margin-right: 3%;
}

.row
{	
	text-align: center;
}

.button1 
{
	text-align: center;
}

table
{
	border-collapse: collapse;
	border: solid black;
	border-radius: 30px;
}

td
{		
  text-align: center;
  border-radius: 30em;
  padding: 1em;
}

.bouton
{	
	text-align: center;
}

.bouton1
{	
	text-align: center;	
}

.joueur1
{	
	display: inline-block;
	justify-content: center;
	background-color: brown;
	text-align: center;
}

.joueur2
{
	display: inline-block;
	justify-content: center;
	background-color: brown;
	text-align: center;
}



